<p class="notice"><%= notice %></p>

<%= render @livro %>

<div>
  <%= link_to "Editar este livro", edit_livro_path(@livro), class: "btn btn-primary" %> |
  <%= link_to "Voltar para livros", livros_path, class: "btn btn-secondary" %>

  <%= button_to "Excluir este livro", @livro, method: :delete, class: "btn btn-danger" %>
</div>
